[run]
relative_files = True
omit =
    rero_mef/cli.py
    rero_mef/agents/cli.py
    rero_mef/concepts/cli.py
    rero_mef/marctojson/logger.py
    rero_mef/marctojson/helper.py
    rero_mef/marctojson/records.py
    rero_mef/marctojson/do_skeleton.py
