[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Default from Invenio
Babel = ">=2.4.0"
Flask-BabelEx = ">=0.9.3"
## Third party invenio modules used by RERO ILS
invenio-oaiharvester = {editable = true, ref = "v1.0.0a4", git = "https://github.com/inveniosoftware/invenio-oaiharvester.git"}
## Invenio base modules used by RERO ILS
# same as invenio metadata extras without invenio-search-ui
invenio-indexer = ">=1.1.1,<1.2.0"
invenio-jsonschemas = ">=1.0.1,<1.1.0"
invenio-oaiserver = ">=1.1.1,<1.2.0"
invenio-pidstore = ">=1.1.0,<1.2.0"
invenio-records-rest = ">=1.6.4,<1.7.0"
invenio-records-ui = ">=1.0.1,<1.1.0"
invenio-records = ">=1.3.0,<1.4.0"
## Default from Invenio
invenio = {version = "==3.2.1", extras = ["base", "postgresql", "auth", "elasticsearch6"]}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
## RERO ILS specific python modules
psutil = "*"
ijson = ">=2.5.1"
pymarc = ">=3.1.10"
PyYAML = ">=5.3"
## Additionnal constraints on python modules
# solves datetime serialize error
celery = "<4.3.0"
# self install
rero-mef = {editable = true, path = "."}
## Deployment
raven = "*"
lxml = ">=3.5.0,<4.2.6"

[dev-packages]
## Python packages development dependencies (order matters)
#----------------------------------------------------------
## Default from Invenio
Flask-Debugtoolbar = ">=0.10.1"
Sphinx = ">=1.5.1"
check-manifest = ">=0.35"
coverage = ">=4.5.3"
isort = ">=4.3"
mock = ">=2.0.0"
marshmallow = ">=2.15.1,<3.0.0"
pydocstyle = ">=3.0.0"
pytest = ">=4.6.4"
pytest-cov = ">=2.7.1"
pytest-invenio = ">=1.2.1,<1.3.0"
pytest-mock = ">=1.6.0"
pytest-pep8 = ">=1.0.6"
pytest-random-order = ">=0.5.4"
pytest-runner = ">=3.0.0,<5"
## RERO ILS specific python packages
autoflake = ">=1.3.1"

[requires]
python_version = "3.6"

[scripts]
test = "python setup.py test"
build_sphinx = "python setup.py build_sphinx"
dev = "pytest --no-cov -vs tests"
